.dropShaw{
    /*box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;*/
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.cardDropShadow{
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.userDetailsHeader{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;

}
.headerCardDropShadow{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.overflowVerticallyWithoutBg{
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.overflowVertically{
    display: flex;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cardStyles {
    width: 250px;
    height: 170px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

}

@media (max-width: 900px) {
    .cardStyles {
        width: 240px;
        height:160px;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    }
}