.dropShaw{
    /*box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;*/
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}
.mobileTable{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

}
@media (max-width: 419px) {
    .mobileTable{
        background-color: white;
        width: 100vw;
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;


    }
}